name: Bull adapter tests

on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 22.x, 24.x, 25.x]
        bull-version: [4.x]

    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          # We can't use `cache: npm` because setup-node doesn't support our monorepo setup
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@v5
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-bull-${{ matrix.bull-version }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm install

      - name: Install Bull ${{ matrix.bull-version }}
        run: npm install bull@${{ matrix.bull-version }}
        working-directory: packages/bull

      - name: Run tests
        run: npm test
        working-directory: packages/bull
