name: Express adapter tests

on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 22.x, 24.x, 25.x]
        express-version: [4.x, 5.x]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          # We can't use `cache: npm` because setup-node doesn't support our monorepo setup
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-express-${{ matrix.express-version }}-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        run: npm install

      - name: Install Express ${{ matrix.express-version }}
        run: npm install express@${{ matrix.express-version }}
        working-directory: packages/express

      - name: Run tests
        run: npm test
        working-directory: packages/express
