name: Fastify adapter tests

on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 22.x, 24.x, 25.x]
        fastify-version: [4.x, 5.x]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          # We can't use `cache: npm` because setup-node doesn't support our monorepo setup
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-fastify-${{ matrix.fastify-version }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm install

      - name: Install Fastify ${{ matrix.fastify-version }}
        run: npm install fastify@${{ matrix.fastify-version }}
        working-directory: packages/fastify

      - name: Run tests
        run: npm test
        working-directory: packages/fastify
