name: CI

on:
  push:
    branches: [ ci ]
  pull_request:
    branches: [ ci ]

  workflow_dispatch:

jobs:
  web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ArtiomTr/jest-coverage-report-action@v2
        with:
          working-directory: ./web
